<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Projekt AWSB - Bezpieczeństwo Aplikacji Webowych</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>

<header>
    <h1>Witaj!</h1>
</header>

<main>

    <div th:if="${user}">
        <p>
            Cześć, <span class="username" th:text="${user.name}"></span>. Wybierz jedną z opcji:
        </p>
        <p>
            <ul>
                <li><a href="/user/home">Twoja strona domowa</a></li>
                <li><a href="/logout">Wyloguj</a></li>
            </ul>
        </p>
    </div>

    <div th:unless="${user}">
        <p>
            Cześć,
        </p>
        <p>
            Musisz być zalogowany, aby używać tej strony.
        </p>
        <ul>
            <li><a href="/user/registration">rejestracja</a></li>
            <li><a href="/login">logowanie</a></li>
        </ul>
    </div>

</main>

<footer>
    Projekt - Bezpieczeństwo Aplikacji Webowych
</footer>

</html>