<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Projekt AWSB - Bezpieczeństwo Aplikacji Webowych</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>

<header>
    <h1>Witaj!</h1>
</header>

<main>

    <div th:if="${user}">
        <div class="container">
           <h2>Cześć <span class="username" th:text="${user.name}">
           </span>. Wybierz jedną z opcji:</h2>
            <div class="buttons">
                <a href="/user/home" class="button">Twoja strona domowa</a>
                <a href="/logout" class="button">Wyloguj</a>
            </div>
        </div>
    </div>

    <div th:unless="${user}">
        <div class="container">
            <h2>Aby korzystać z naszej strony, musisz być zalogowany.</h2>
            <div class="buttons">
                <a href="/user/registration" class="button">Rejestracja</a>
                <a href="/login" class="button">Logowanie</a>
            </div>
        </div>
    </div>

</main>

<footer>
    Projekt - Bezpieczeństwo Aplikacji Webowych
</footer>

</html>