<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Projekt AWSB - Bezpieczeństwo Aplikacji Webowych</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>

<body>

<header>
    <h1>Witaj!</h1>
</header>

<main>
    <div th:object="${user}">
        <div class="container">
        <h2>
            Cześć, <span class="username" th:text="${user.name}"></span>. To jest twoja strona domowa.
            Możesz ją zobaczyć tylko wtedy, gdy jesteś zalogowany.
        </h2>

        <p>
            <img src="/images/unhackeable.jpeg" alt=""/>
        </p>
        <div class="buttons">
                <a href="/logout" class="button">Wyloguj się</a>
        </div>
        </div>
    </div>
</main>

<footer>
    Projekt - Bezpieczeństwo Aplikacji Webowych
</footer>

</body>
</html>